* {
    font-family: "Garamond", sans-serif;
}

#home {
    background-color: lightblue;
}

#home h1 {
    text-align: center;
}

#home ul {
    margin: 0 auto;
    padding: 0;
    width: 100px;
    text-align: center;
}

#home li {
    list-style-type: none;
    margin: 10px 0;
}

#home a {
    text-decoration: none;
}

#cookies {
    padding: 16px;
    background-color: rgb(255, 188, 125);
}

#brownies {
    padding: 16px;
    background-color: rgb(99, 49, 9);
    color: white;
}

#brownies a {
    color: rgb(255, 139, 44);
}

#cookies h1, #cookies h2, #cookies p, #brownies h1, #brownies h2, #brownies p {
    text-align: center;
}

#cookies a, #brownies a {
    display: block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}


#cookies img, #brownies img {
    display: block;
    margin: auto;
}
