* {
    font-family: "Garamond", sans-serif;
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

img {
    border-radius: 8px;
    border: 2px solid black;
}

#home {
    background-color: lightblue;
}

#home h1 {
    text-align: center;
    font-size: 80px;
}

#home h2 {
    font-size: 36px;
    text-decoration: underline; 
    text-align: center;
}

#home ul {
    width: 900px;
    height: 75vh;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 24px;
    border: 2px solid black;
}

#home li {
    width: 800px;
    margin: 10px auto;
    font-size: 24px;
}

#home a {
    text-decoration: none;
}

#cookies, #brownies, #cupcakes {
    padding: 16px;
}

#cookies {
    background-color: rgb(255, 188, 125);
}

#brownies {
    background-color: rgb(99, 49, 9);
    color: white;
}

#brownies a {
    color: rgb(255, 139, 44);
}

#cupcakes {
    background-color: aqua;
}

#cookies h1, #cookies h2, #cookies p, #brownies h1, #brownies h2, #brownies p, #cupcakes h1, #cupcakes h2, #cupcakes p {
    text-align: center;
}

#cookies a, #brownies a, #cupcakes a, #cookies img, #brownies img, #cupcakes img {
    display: block;
    margin: 0 auto;
}

#cookies a, #brownies a, #cupcakes a {
    width: 150px;
    text-align: center;
}

#brownies img {
    border-color: white;
}

#cookies .recipe-content, #brownies .recipe-content, #cupcakes .recipe-content {
    width: 900px;
    margin: 16px auto;
    padding: 16px;
    border-radius: 8px;
}

#cookies .recipe-content {
    background-color: rgb(255, 209, 165);
    border: 2px solid black;
}

#brownies .recipe-content {
    background-color: rgb(99, 63, 34);
    border: 2px solid white;
}

#cupcakes .recipe-content {
    background-color: rgb(170, 255, 255);
    border: 2px solid black;
}


