* {
    font-family: "Garamond", sans-serif;
}

#home {
    background-color: lightblue;
}

#home h1 {
    text-align: center;
}

#home ul {
    margin: 0 auto;
    padding: 0;
    width: 100px;
    text-align: center;
}

#home li {
    list-style-type: none;
    margin: 10px 0;
}

#home a {
    text-decoration: none;
}

#cookies, #brownies, #cupcakes {
    padding: 16px;
}

#cookies {
    background-color: rgb(255, 188, 125);
}

#brownies {
    background-color: rgb(99, 49, 9);
    color: white;
}

#brownies a {
    color: rgb(255, 139, 44);
}

#cupcakes {
    background-color: aqua;
}

#cookies h1, #cookies h2, #cookies p, #brownies h1, #brownies h2, #brownies p, #cupcakes h1, #cupcakes h2, #cupcakes p {
    text-align: center;
}

#cookies a, #brownies a, #cupcakes a, #cookies img, #brownies img, #cupcakes img {
    display: block;
    margin: 0 auto;
}

#cookies a, #brownies a, #cupcakes a {
    width: 150px;
    text-align: center;
}


